language: node_js
node_js: "8"

cache:
  directories:
    - node_modules

install:
  - npm install
  - . ./setenv.sh

script:
  - grunt build --env=$ENV

deploy:
  provider: script
  script: ./deploy.sh
  skip_cleanup: true
  on:
      all_branches: true
      condition: $IS_KNOWN_ENV = true